*,
*::after,
*::before {
	box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background: #0e0e0e;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

.button {
    display: block;
    cursor: pointer;
    width: 270px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    color: #0e0e0e;
    background: rgb(221, 218, 46);
    text-decoration: none;

    &:active {
        color: #0e0e0e;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #0e0e0e;

    .videoContainer {
        width: 100%; 
        height: 30%; 
        overflow: hidden;
        position: absolute;
        z-index: 5;

        &:nth-child(2) {
            top: 0;
        }

        &:nth-child(3) {
            top: 30%;
        }

        &:nth-child(4) {
            top: 60%;
        }

        .videoElement {
            position: absolute;
            top: 50%; 
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            min-width: 100%; 
            min-height: 100%; 
            width: auto;
            height: 100%;
            overflow: hidden;
        }
    }
    
    .videoContainerCam {
        width: 100%;
        height: 30%;
        overflow: hidden;
        position: absolute;
        z-index: 10;
        top: 0;

        .videoElementCam {
            position: absolute;
            top: 50%; 
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            min-width: 100%; 
            min-height: 100%; 
            width: auto;
            height: 100%;
            overflow: hidden;
        }
    }

    .videoContainerRecording {
        position: absolute;
        top: 100%;
        left: 20px;
        z-index: 40;
        margin-bottom: 20px;

        #recording {
            width: 270px;
            height: 160px;
            border: 1px solid rgb(221, 218, 46);
        }

        #log {
            width: 270px;
            margin-top: 20px;
            padding: 20px;
            background: rgb(221, 218, 46);
        }
    }
}

.screenshot-image {
    width: 150px;
    height: 90px;
    position: absolute;
    top: 80px;
    left: 20px;
    background: beige;
    z-index: 30;
}

.video-options {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 30;
}

.controls {

    button {
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 100%;
        margin: 10px;
        z-index: 50;

        svg {
            height: 25px;
            width: 25px;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            position: absolute;
            top: 11px;
            left: 11px;
        }
    }

    .buttonChange {
        background: #0e0e0e;
        color: beige;
        border: 2px solid beige;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .buttonFullscreen {
        background: #0e0e0e;
        color: beige;
        border: 2px solid beige;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    .buttonRecord {
        height: 80px;
        width: 80px;
        background: red;
        border: 2px solid red;
        position: absolute;
        left: calc(50% - 50px);
        bottom: 20px;
    }
}

canvas {
    display: none;
    opacity: 0;
    z-index: 30;
}

.hidden {
    display: none;
    opacity: 0;
}

@media only screen and (min-width: 768px) {

    .container {

        .videoContainerRecording {
            position: fixed;
            top: 80px
        }
    }
}