*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe UI";
  src: url("fonts/Segoe UI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("fonts/Segoe UI Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  background: #0e0e0e;
  font-size: 14px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: "Segoe UI Bold", Helvetica, Arial, sans-serif;
}

.button {
  font-family: "Segoe UI Bold", Helvetica, Arial, sans-serif;
}

.button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  padding: 0;
  font-weight: bold;
  color: #e27c5d;
}

.buttonLeft {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.buttonRight {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.buttonCenter {
  position: absolute;
  bottom: 20px;
  right: calc(50% - 24px);
}

html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  background: #0e0e0e;
}
.container .videoButton {
  display: none;
  opacity: 0;
}
.container .videoContainer {
  height: 30%;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}
.container .videoContainer.videoContainer1 {
  top: 0;
  background: #e27c5d;
}
.container .videoContainer.videoContainer2 {
  top: 30%;
  background: #44a8a0;
}
.container .videoContainer.videoContainer3 {
  top: 60%;
  background: #3c636e;
}
.container .videoContainer .videoElement {
  height: 100%;
  overflow: hidden;
}
.container .videoContainer .animationContainerR {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 100%;
  z-index: 120;
  background: #44a8a0;
}
.container .videoContainer .animationContainerL {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  z-index: 120;
  background: #44a8a0;
}
.container .videoContainer .animationRed {
  background: #e27c5d;
}
.container .videoContainer .animationGreen {
  background: #44a8a0;
}
.container .videoContainer .animationBlue {
  background: #3c636e;
}
.container .videoContainer .changeAnimationRTL {
  animation: revealRTL 1s 0s ease;
}
.container .videoContainer .changeAnimationLTR {
  animation: revealLTR 1s 0s ease;
}
@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  20% {
    width: 100%;
    right: 0;
  }
  80% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  20% {
    width: 100%;
    left: 0;
  }
  80% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
.container .seekbar {
  cursor: pointer;
  width: 50%;
  position: absolute;
  top: 20px;
  left: calc(50% - 25%);
  height: 10px;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(14, 14, 14, 0.5);
}
.container .seekbar span {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
  border-radius: 10px;
}
.container .videoContainerCam .videoElementCam {
  width: 1080px;
  height: 640px;
  position: fixed;
  top: 20px;
  left: 20px;
  opacity: 0;
}
.container .videoContainerCanvas .videoElementCanvas {
  width: 1080px;
  height: 640px;
  position: fixed;
  top: 20px;
  left: 20px;
  opacity: 0;
}
.container .videoContainerOutput {
  height: 30%;
  overflow: hidden;
  position: absolute;
  background: #0e0e0e;
  z-index: 10;
  top: 0;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
}
.container .videoContainerOutput .videoElementOutput {
  height: 100%;
  overflow: hidden;
}
.container .videoContainerOutput .uploadVideoNotice {
  opacity: 0.4;
}
.container .videoContainerOutput .recordTimer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  font-weight: bold;
}
.container .videoContainerOutput .recordStatus {
  display: none;
  opacity: 0;
  position: absolute;
  left: calc(50% - 5px);
  top: 20px;
  width: 30px;
  height: 30px;
  z-index: 100;
}
.container .videoContainerOutput .recordStatus:before {
  content: "";
  position: relative;
  display: block;
  width: 150%;
  height: 150%;
  box-sizing: border-box;
  margin-left: -50%;
  margin-top: -50%;
  border-radius: 45px;
  background-color: #e27c5d;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.container .videoContainerOutput .recordStatus:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 50%;
  height: 50%;
  background-color: #e27c5d;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.container .videoContainerRecording {
  height: 30%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  background: #3c636e;
}
.container .videoContainerRecording #recording {
  height: 100%;
  overflow: hidden;
}
.container .uploadNotice {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  color: #e27c5d;
  background: white;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.container .uploadNotice h2 {
  font-size: 2rem;
  margin: 0;
}
.container .uploadNotice p {
  font-size: 1rem;
  margin: 20px 0 0 0;
  padding: 0;
}
.container .uploadNotice form {
  margin: 20px 0;
}
.container .uploadNotice .progressWrapper {
  width: 100%;
}
.container .uploadNotice .progressWrapper #uploadBar {
  width: 100%;
  height: 14px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
}
.container .uploadNotice .progressWrapper #uploadBar::-webkit-progress-bar {
  background-color: #e27c5d;
  border-radius: 14px;
}
.container .uploadNotice .progressWrapper #uploadBar::-webkit-progress-value {
  background-color: #44a8a0;
  border-radius: 14px;
}
.container .uploadNotice .uploadNoticePage1 {
  width: 100%;
}
.container .uploadNotice .uploadNoticePage1 #termsOfUseLink {
  display: inline;
  color: #3c636e;
  cursor: pointer;
}
.container .uploadNotice .uploadNoticePage1 #termsOfUseLink:hover {
  text-decoration: underline;
}
.container .uploadNotice .uploadNoticePage1 #privacyPolicyLink {
  display: inline;
  color: #3c636e;
  cursor: pointer;
}
.container .uploadNotice .uploadNoticePage1 #privacyPolicyLink:hover {
  text-decoration: underline;
}
.container .uploadNotice .uploadNoticePage1 #uploadVideo {
  opacity: 0.5;
  transition: all 0.4 ease;
}
.container .uploadNotice .uploadNoticePage2 {
  display: none;
  width: 100%;
  opacity: 0;
}
.container .uploadNotice .uploadNoticePage2 .uploadID {
  margin: 20px 0 0 0;
}
.container .uploadNotice .uploadNoticePage2 .uploadID::before {
  content: "Video ID";
  display: block;
  font-family: "Segoe UI Bold", Helvetica, Arial, sans-serif;
}
.container .reportNotice {
  display: none;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background: #fff;
  color: #3c636e;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.container .reportNotice h2 {
  font-size: 2rem;
  margin: 0;
}
.container .reportNotice p {
  font-size: 1rem;
  margin: 10px 0 20px 0;
  padding: 0;
}
.container .reportNotice form div {
  margin-bottom: 5px;
  font-size: 1rem;
}
.container .reportNotice form div label {
  margin-left: 20px;
}
.container .reportNotice .button {
  color: #3c636e;
}
.container .reportNotice .reportNoticePage2 {
  display: none;
  opacity: 0;
}
.container .aboutNotice {
  display: none;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background: #fff;
  color: #3c636e;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.container .aboutNotice .aboutNoticeOverview {
  width: 100%;
}
.container .aboutNotice .mixmatchLogo {
  display: block;
  width: 100px;
  height: auto;
  padding: 20px 0 20px 0;
  margin: 0 auto;
}
.container .aboutNotice .aboutButton {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #3c636e;
  position: relative;
  cursor: pointer;
}
.container .aboutNotice .aboutButton::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  top: calc(50% - 7px);
  background-image: url("../img/icons/arrow_right.svg");
  background-repeat: no-repeat;
}
.container .aboutNotice .button {
  color: #3c636e;
}
.container .aboutNotice .aboutButtonTutorial {
  position: absolute;
  bottom: 80px;
  width: 100%;
  padding: 15px;
  background: #e27c5d;
  color: white;
  border-radius: 40px;
  text-align: center;
  font-family: "Segoe UI Bold", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.container .aboutNotice h2 {
  font-size: 1.4rem;
  margin: 0;
}
.container .aboutNotice p {
  font-size: 1rem;
  margin: 20px 0 0 0;
  padding: 0;
}
.container .aboutNotice .aboutPage {
  height: 75%;
}
.container .aboutNotice .aboutPage .scroll {
  height: 90%;
  padding: 0 20px 20px 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e27c5d white;
}
.container .aboutNotice .aboutPage .scroll::-webkit-scrollbar {
  width: 11px;
}
.container .aboutNotice .aboutPage .scroll::-webkit-scrollbar-track {
  background: white;
}
.container .aboutNotice .aboutPage .scroll::-webkit-scrollbar-thumb {
  background-color: #e27c5d;
  border-radius: 6px;
  border: 3px solid white;
}
.container .aboutNotice .aboutPageImpressum {
  display: none;
  opacity: 0;
}
.container .aboutNotice .aboutPageDatenschutz {
  display: none;
  opacity: 0;
}
.container .aboutNotice .aboutPageNutzungsbedingungen {
  display: none;
  opacity: 0;
}
.container .aboutNotice .aboutPageNutzungsbedingungen #privacyPolicyLink2 {
  display: inline;
  color: #3c636e;
  cursor: pointer;
}
.container .aboutNotice .aboutPageNutzungsbedingungen #privacyPolicyLink2:hover {
  text-decoration: underline;
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}
.wrapperFullHeight {
  height: 100%;
}

.screenshot-image {
  width: 150px;
  height: 90px;
  position: absolute;
  top: 80px;
  left: 20px;
  background: beige;
  z-index: 30;
}

.video-options {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 30;
}

.controls .button {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 10px;
  z-index: 50;
}
.controls .button img {
  max-width: 100%;
  height: auto;
  color: white;
}
.controls .buttonChange {
  position: absolute;
  bottom: 20px;
  right: 0;
  opacity: 0.4;
}
.controls .buttonFullscreen {
  position: absolute;
  bottom: 20px;
  left: 50px;
}
.controls .buttonEdit {
  position: absolute;
  bottom: 20px;
  left: 0;
  opacity: 0.4;
  transition: all 0.4s;
  border-radius: 10px;
}
.controls .buttonAbout {
  position: absolute;
  bottom: 20px;
  right: 50px;
}
.controls .buttonRecord {
  position: absolute;
  left: calc(50% - 40px);
  bottom: 20px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 4px solid #e27c5d;
  background: none;
  transition: all 0.2s ease;
  outline: none;
}
.controls .buttonRecord::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 46px;
  height: 46px;
  background: #e27c5d;
  border-radius: 100%;
  content: "";
  outline: none;
  transition: all 0.2s ease;
}
.controls .buttonRecord.active::before {
  border-radius: 4px;
  top: 14px;
  left: 14px;
  width: 24px;
  height: 24px;
  transition: all 0.2s ease;
}

.hidden {
  display: none;
  opacity: 0;
}

.editControls {
  display: none;
  opacity: 0;
}

.muteVideo {
  width: 30px;
  height: 30px;
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.reportVideo {
  width: 30px;
  height: 30px;
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.uploadVideoNotice {
  width: 30px;
  height: 30px;
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.walkthrough {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  background: #fff;
  color: #e27c5d;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  overflow: hidden;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}
.walkthrough .walkthroughBody {
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
  width: 100%;
}
.walkthrough .walkthroughBody .walkthroughScreens {
  padding: 0;
  margin: 0;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen {
  list-style-type: none;
  display: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen:nth-child(3n + 1) {
  color: #e27c5d;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen:nth-child(3n + 2) {
  color: #44a8a0;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen:nth-child(3n + 3) {
  color: #3c636e;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen img {
  width: 20%;
  display: block;
  margin: 0 auto 20px auto;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen h3 {
  font-size: 2.4rem;
  margin: 0;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 0;
  line-height: 1.6;
}
.walkthrough .walkthroughBody .walkthroughScreens .walkthroughActive {
  display: block;
  opacity: 1;
}
.walkthrough .walkthroughNavigation {
  align-self: flex-end;
  width: 100%;
  margin: 28px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.walkthrough .walkthroughNavigation .button {
  color: #e27c5d;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.walkthrough .walkthroughNavigation .walkthroughPagination {
  align-items: center;
  display: flex;
  justify-content: center;
}
.walkthrough .walkthroughNavigation .walkthroughPagination .dot {
  background: rgba(14, 14, 14, 0.25);
  border-radius: 8px;
  height: 8px;
  margin: 0 4px;
  transform: scale(0.75);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 8px;
}
.walkthrough .walkthroughNavigation .walkthroughPagination .dot.active {
  background: #e27c5d;
  transform: scale(1);
  transition-delay: 0.4s;
}

.orientationLock {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 10000;
  transition: all 1s ease;
}
.orientationLock .mixmatchLogoLock {
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 30px);
}

@media only screen and (min-width: 375px) {
  .container .reportNotice form div {
    margin-bottom: 12px;
  }

  .controls .buttonChange {
    right: 0;
  }
  .controls .buttonFullscreen {
    left: 60px;
  }
  .controls .buttonEdit {
    left: 0;
  }
  .controls .buttonAbout {
    right: 60px;
  }
}
@media only screen and (min-width: 400px) {
  body, html {
    font-size: 16px;
  }

  .container .seekbar {
    top: 25px;
  }
  .container .reportNotice h2 {
    margin: 20px 0 0 0;
    font-size: 2.4rem;
  }
  .container .aboutNotice h2 {
    margin: 20px 0 0 0;
    font-size: 1.6rem;
  }
  .container .aboutNotice .mixmatchLogo {
    width: 150px;
    padding: 40px 0;
  }
  .container .aboutNotice .aboutButtonTutorial {
    bottom: 100px;
  }
  .container .uploadNotice h2 {
    margin: 20px 0 0 0;
    font-size: 2.4rem;
  }

  .controls .button {
    width: 50px;
    height: 50px;
  }
  .controls .buttonChange {
    right: 20px;
  }
  .controls .buttonFullscreen {
    left: 80px;
  }
  .controls .buttonEdit {
    left: 20px;
  }
  .controls .buttonAbout {
    right: 80px;
  }
  .controls .buttonRecord {
    height: 80px;
    width: 80px;
    left: calc(50% - 50px);
  }
  .controls .buttonRecord::before {
    top: 4px;
    left: 4px;
    width: 64px;
    height: 64px;
  }
  .controls .buttonRecord.active::before {
    top: 21px;
    left: 21px;
    width: 30px;
    height: 30px;
  }

  .muteVideo {
    right: 20px;
    width: 40px;
    height: 40px;
  }

  .reportVideo {
    left: 20px;
    width: 40px;
    height: 40px;
  }

  .uploadVideoNotice {
    left: 20px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .buttonLeft {
    left: 20px;
  }

  .buttonRight {
    right: 20px;
  }

  .container .videoContainerRecordingControls {
    top: 20px;
  }
  .container .videoContainerOutput .recordTimer {
    font-size: 5rem;
  }
  .container .reportNotice {
    width: 540px;
    margin: 0 auto;
  }
  .container .reportNotice h2 {
    font-size: 3rem;
  }
  .container .reportNotice p {
    margin: 20px 0 40px 0;
  }
  .container .reportNotice form div {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  .container .uploadNotice {
    width: 540px;
    margin: 0 auto;
  }
  .container .uploadNotice h2 {
    font-size: 3rem;
  }
  .container .aboutNotice {
    width: 540px;
    margin: 0 auto;
  }
  .container .aboutNotice h2 {
    font-size: 2rem;
  }

  .walkthrough {
    width: 540px;
    margin: 0 auto;
  }
  .walkthrough .walkthroughBody .walkthroughScreens .walkthroughScreen h3 {
    font-size: 3rem;
  }

  .wrapper {
    width: 500px;
    margin: 0 auto;
  }

  .controls .buttonChange {
    right: 20px;
  }
  .controls .buttonFullscreen {
    left: 100px;
  }
  .controls .buttonEdit {
    left: 20px;
  }
  .controls .buttonAbout {
    right: 100px;
  }
}
@media only screen and (min-width: 768px) and (min-height: 1366px) {
  .wrapper {
    width: 700px;
  }

  .muteVideo {
    width: 50px;
    height: 50px;
  }

  .reportVideo {
    width: 50px;
    height: 50px;
  }

  .uploadVideoNotice {
    width: 50px;
    height: 50px;
  }

  .container .reportNotice {
    width: 740px;
  }
  .container .uploadNotice {
    width: 740px;
  }
  .container .aboutNotice {
    width: 740px;
  }

  .walkthrough {
    width: 740px;
  }

  .controls .buttonChange {
    right: 20px;
    width: 70px;
    height: 70px;
  }
  .controls .buttonFullscreen {
    left: 140px;
    width: 70px;
    height: 70px;
  }
  .controls .buttonEdit {
    left: 20px;
    width: 70px;
    height: 70px;
  }
  .controls .buttonAbout {
    right: 140px;
    width: 70px;
    height: 70px;
  }
}
/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
  .container .videoButton {
    display: block;
    opacity: 1;
    width: 66px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
  }
  .container .videoButtonRight {
    left: calc(50% + 270px);
    opacity: 0.4;
  }
  .container .videoButtonLeft {
    right: calc(50% + 270px);
    opacity: 0.4;
  }
  .container .videoButton[data-index="1"] {
    top: calc(15% - 35px);
  }
  .container .videoButton[data-index="2"] {
    top: calc(45% - 35px);
  }
  .container .videoButton[data-index="3"] {
    top: calc(75% - 35px);
  }
  .container .videoButton img {
    margin: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  .orientationLock {
    display: block;
    opacity: 1;
  }
}

/*# sourceMappingURL=site.css.map */
